// //@import "reset";
// .vcenter {
//   text-align:center;
//   padding-top:1em;
//   max-height:100%;

//   .csstransforms & {
//     padding:0 48px;
//     position:absolute;
//     left:0;
//     right:0;
//     top:50%;
//     -webkit-transform:translate(0, -50%);
//     -moz-transform:translate(0, -50%);
//     -ms-transform:translate(0, -50%);
//     -o-transform:translate(0, -50%);
//     transform:translate(0, -50%);
//   }
// }

// .vcenter h1 {
//   position:relative;
//   top:auto;
//   padding:0;
//   -webkit-transform:none;
//   -moz-transform:none;
//   -ms-transform:none;
//   -o-transform:none;
//   transform:none;
// }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.5em;
}

h1, h2, h3 {
  color: #444;
  font-family: "proxima-nova",serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5em;
  text-align: left;
}

p {
  color: #444;
  font-family: "proxima-nova",serif;
  font-weight: 400;
}

hr {
  border: 1px solid #eee;
  margin: 3em auto;
  width: 50%;
}

.bigtext {
  color: #444;
  font-family: "proxima-nova",serif;
  text-transform: uppercase;
  line-height: 1;
  max-width: 75%;
  margin: 0 auto;
  font-weight: 900;
}

.deck-container {
  > .slide {
    padding:0 48px;
    max-width: 50%;
    left: 25% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  > .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("/img/vectorized.png");
    background-size: cover;
    background-position: 0 80%;
    .wrapper {
      max-width: 50%;
      width: 50%;
      margin: 0 auto;
      height: 90px;
    }
  }

  > .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/img/vectorized.png");
    background-size: cover;
    background-position: 0 100%;
    .wrapper {
      max-width: 50%;
      width: 50%;
      margin: 0 auto;
      img {
        margin: 0 auto;
        height: 90px;
        padding: 25px 0;
        display: block;
      }
    }
  }
}

.slide {
  text-align: center;
  .deck-slide-scaler {
    width: 100%;
  }
  .deck-before, .deck-previous {
    opacity:0.4;

    &:not(.deck-child-current) {
      .deck-before, .deck-previous {
        opacity:1;
      }
    }
  }

  .deck-child-current {
    opacity:1;
  }
}

.deck-prev-link, .deck-next-link {
  background:#fff;
  opacity:0.5;

  &, &:hover, &:focus, &:active, &:visited {
    color:#599;
  }

  &:hover, &:focus {
    opacity:1;
    text-decoration:none;
  }
}

.deck-status {
  font-size:0.6666em;
}

.deck-menu {
  .slide {
    background:transparent;
    border-radius:5px;

    .rgba & {
      background:rgba(0,0,0,.1);
    }

    &.deck-current, .rgba &.deck-current, .no-touch &:hover {
      background:#fff;
    }
  }
}

.goto-form {
  background:#fff;
  border:1px solid #cde;
  border-radius:5px;

  .boxshadow & {
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
}